# Exclude data files
*.shp # ShapeFile
*.grd # GMT grids
*.dat # BODC data
*.lst # BODC data
*.xyz # Any spatial data
*.prj # ShapeFile
*.shx # ShapeFile
*.slv # SHOM
*.zip # Duh
*.db # SQLite Database
*.db.backup # SQLite Database
*.dbf # ShapeFile
*.bar # SHOM

# Data directories
GSHHS/shp/GSHHS_shp/
NTSLF/formatted/
NTSLF/formatted/sql/
NTSLF/raw_data/
NTSLF/BPR/formatted/
NTSLF/BPR/formatted/sql/
NTSLF/BPR/raw_data/
