# Exclude data files
*.shp
*.grd
*.dat
*.lst
*.xyz
*.prj
*.shx
*.slv
*.zip
*.db
*.db.backup
*.dbf
*.bar
*.mpk
*.tif
*.OBS
*.aux.xml
*.png.xml
*.qpj
*.qgs

# Miscellaneous files
.~lock*#
.nfs*

# Data directories
GSHHS/shp/GSHHS_shp/
NSTD/cleaned
NSTD/formatted
NSTD/raw_data/
NTSLF/formatted/
NTSLF/formatted/sql/
NTSLF/raw_data/
NTSLF/BPR/formatted/
NTSLF/BPR/formatted/sql/
NTSLF/BPR/raw_data/
NTSLF/meta_info/
NTSLF/docs/
TPXO/
