# Exclude data files
*.shp # ShapeFile
*.grd # GMT grids
*.dat # BODC data
*.lst # BODC data
*.xyz # Any spatial data
*.prj # ShapeFile
*.shx # ShapeFile
*.slv # SHOM
*.zip # Duh
*.db # SQLite Database
*.dbf # ShapeFile
*.bar # SHOM
